@media only screen and (max-width: 1024px) {
    #main-panel {
        padding: 15px 15px;
        position: relative;
    }

    #pricing-facts, .pricing-section, #what-is-it, #how-it-works, #about, #faq, #register { width: 90%; }

    #main-section {
        background-position: top center;
    }

    #overview-splash {
        flex-direction: column;

        #overview-diagram, #overview-text-container {
            width: 100%;
    
            img { margin-bottom: 30px; }
        }

        .overview-text { text-align: center; }
    }

    #browse-menu {
        width: 50vw;
        font-size: 1.25rem;
        
        .sector-link { font-weight: normal; }
    }
}