@media only screen and (max-width: 320px) {
    #g-recaptcha {
        transform:scale(0.75);
        -webkit-transform:scale(0.75);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }

    #footer {
        font-size: 0.5rem;

        .footer-links { margin: 0 0 15px 0; }
    }

    .bottombar-site-logo {
        width: 100%;
    }

    .site-main-footer {
        font-size: 0.7rem;
    }

    .site-mobile-nav-close-button {
        display: block;
        text-align: right;
        margin-bottom: 15px;
    }

    .site-pricing-table, .app-fee-table {
        font-size: 0.7rem;
    }

    .milestone-creator-buttons {
        flex-direction: column;
        align-items: flex-end;

        .btn {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
}
