@media only screen and (max-width: 360px) {
    .listing-row-title {
        margin-bottom: 5px;
    }

    .listing-row-main {
        a {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .listing-row-rating { align-self: flex-end; }
}