@media only screen and (max-width: 375px) {
    #g-recaptcha {
        transform:scale(0.86);
        -webkit-transform:scale(0.86);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }

    #main-panel-bg { height: 150px; }

    #view-user-footer {
        flex-direction: column;

        #view-user-stats {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .mr-5 { margin-right: 0 !important; }
        }

        .view-user-buttons {
            align-self: flex-end;
            margin-top: 30px;
        }
    }

    #bottombar {
        .bottombar-item-wrapper, #bottombar-sectors-container { font-size: 1.6rem; }

        .bottombar-sub-item-container { font-size: 1.3rem; }
    }

    #inquiries {
        #message-column {
            padding: 75px 20px 20px 20px; 
        }
    }

    #message-list-column-container {
        height: auto;
        width: 100%;

        #message-list-column {
            height: 100vh;
            width: 100%;
            transition: height 0.25s ease-in-out;

            #message-list-main-column { padding: 50px 20px 20px 20px; }

            &.hide {
                width: 100%;
                height: 0;
                z-index: 3;
            
                #message-list-main-column {
                    opacity: 0;
                    transition: opacity 0s ease-out 0s;
                }
            }
        }

        #message-list-mini-column { display: none; }
    }

    #message-list-toggle-up-down {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        background: $theme-blue;
        text-align: center;
        z-index: 6;
    }

    .message-filter-buttons-container {
        .close-message-column-button {
            display: none;
        }
    }

    #footer {
        font-size: 0.6rem;

        .footer-links { margin: 0 0 15px 0; }
    }

    .payment-method-container {
        flex-direction: column;
    }

    .payment-methods-buttons {
        align-self: flex-end;
    }
}