@media only screen and (max-width: 414px) {
    #dashboard-header {
        .profile-pic-wrapper {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    #main-panel-bg { height: 200px; }

    .edit-user-header-field {
        h3 { justify-content: space-between; }
    }

    .listing-row-title, .listing-row-detail-child {
        width: 100%;
    }

    .listing-row-main {
        a {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .listing-row-title { order: 1; }

    .listing-row-purpose {order: 2;}

    .listing-row-rating {
        order: 3;
        align-self: flex-end;
    }

    .listing-row-detail { flex-direction: column; }

    .listing-row-detail-child {
        border-right: 0;
        margin-right: 0;

        &:not(:first-child) { border-top: 1px solid $theme-highlight; }
    }

    .listing-row-buttons { display: none; }

    #view-user-listing-info {
        align-items: center;
        flex-direction: column;
    }

    .message-row.owner, .message-row.sender {
        .message-row-profile-pic { display: none; }
    
        .message-container {
            width: 100%;
        }
    }

    #message-column {
        #message-details {
            #reply-button { display: block; }

            #reply-container {
                display: none;

                &.show {
                    display: block;
                }
            }
        }
    }

    .user-review-profile-pic {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        margin-right: 0px;

        .profile-pic {
            width: 25%;
            margin-right: 15px;
        }
    }

    .input-group-container {
        select:not(:last-child) {
            margin-right: 5px;
        }

        .input-group {
            &.row {
                flex-direction: column;
                align-items: stretch;
            }
        }
    }

    .job-row {
        .job-info-row {
            flex-direction: column;
            align-items: stretch;

            .job-info {
                flex-direction: column;
                
                .job-info-item {
                    border-bottom: 1px solid black;
                    border-right: 0;
                }
            }

            .job-info-item {
                border-bottom: 0;
            }
        }
    }

    .view-header-title-details, .job-details-dates, .milestone-creator-details, .connect-footer, .row-container {
        flex-direction: column;
        align-items: stretch;
    }

    .funds-remaining {
        margin-top: 5px;
    }

    .milestone-container {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .applicant-row {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .job-message-row-container {
        .job-message-row-profile-pic {
            display: none;
        }

        &.left {
            .job-message {
                margin-left: 0;
            }
        }

        &.right {
            .job-message {
                margin-right: 0;
            }
        }
    }

    .financial-account-icon {
        display: none;
    }

    .financial-account-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .job-post-title-container {
        flex-grow: 1;
    }

    .job-post-toggler {
        width: 25%;
    }

    .job-post-detail-row, .view-header, .radio-container, .connected-badges {
        flex-direction: column;
    }

    .financial-accounts {
        .financial-info-container {
            flex-direction: column;
            align-items: stretch;
        }
    }

    .financial-info-buttons {
        text-align: right;
    }

    .account-id {
        h2 {
            font-size: 1.2rem;
        }
    }
    
    .connected-badges {
        .mr-2 {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }

    .job-post-detail {
        border-right: 0;
        border-bottom: 1px solid black;

        &:last-child {
            border-bottom: 0;
        }
    }

    .job-info-item {
        border-right: 0;
        border-bottom: 1px solid black;
    }

    .row-details, .milestone-tracking-details {
        flex-direction: column;
    }

    .row-detail {
        margin-bottom: 5px;
    }

    .row-title {
        a {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .detail-child {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .row-details {
        margin-bottom: 15px;
    }

    .milestone-conditions-container {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
    }

    .row-buttons, .row-main {
        width: 100%;
    }

    .view-profile-pic {
        width: 50%;
        align-self: center;
    }

    .applicant-details {
        margin: 0;
    }

    .application-buttons {
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .milestone-progress-details {
        flex-direction: column;

        .mr-2 {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }

    .milestone-updater-details {
        width: 100%;
        margin-bottom: 5px;

        &:nth-child(2) {
            order: 0;
        }

        &:first-child {
            order: 1;
        }
        
        &:nth-child(3) {
            order: 2;
        }
    }

    .job-details-subheader {
        .d-flex {
            flex-direction: column;

            .mr-2 {
                margin-right: 0;
                margin-bottom: 5px;
            }
        }
    }

    .view-header-title-details {
        .mr-2 {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    #user-reviews-container { grid-column-end: 2; }

    .user-review-container {
        flex-direction: column;
        margin: 0 0 30px 0;
    }

    .user-review { width: 100%; }

    .user-review-header, .user-review-header-info {
        flex-direction: column;
        align-items: flex-end;
    }

    .user-review-badge, .user-review-rating {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .user-review-separator {
        margin: 0 auto 30px auto;
        width: 90%;
    }

    .user-review-buttons { align-self: flex-end; }

    .user-reviews-placeholder-column { display: none; }

    .message-row-username {
        &.right { padding-right: 0; }
    
        &.left { padding-left: 0; }
    }

    .underline-div, .make-offer-field-container { flex-direction: column; }

    #footer {
        .footer-links {
            width: auto;
            margin: 0 0 30px 0;
        }
    }

    .account-id { flex-direction: column; }

    .add-bank-mobile-button, .add-card-mobile-button { display: inline-block !important; }
    .add-bank-button, .add-card-button { display: none !important; }

    .payment-brand {
        display: none;
    }

    #friends-list {
        .friend-panel {
            width: 100%;
            flex-basis: 100%;

            .friend-panel-header {
                .friend-panel-profile-pic {
                    display: none;
                }
            }
        }
    }

    .user-container {
        width: 100%;
    }

    .hide-on-mobile {
        display: none;
    }

    .tooltip {
        display: none;
    }
}