@media only screen and (max-width: 414px) {
    #dashboard-header {
        .profile-pic-wrapper {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    #main-panel-bg { height: 200px; }

    .edit-user-header-field {
        h3 { justify-content: space-between; }
    }

    .listing-row-title, .listing-row-detail-child {
        width: 100%;
    }

    .listing-row-main {
        a {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .listing-row-title { order: 1; }

    .listing-row-purpose {order: 2;}

    .listing-row-rating {
        order: 3;
        align-self: flex-end;
    }

    .listing-row-detail { flex-direction: column; }

    .listing-row-detail-child {
        border-right: 0;
        margin-right: 0;

        &:not(:first-child) { border-top: 1px solid $theme-highlight; }
    }

    .listing-row-buttons { display: none; }

    #view-user-listing-info {
        align-items: center;
        flex-direction: column;
    }

    .message-row.owner, .message-row.sender {
        .message-row-profile-pic { display: none; }
    
        .message-container {
            width: 100%;
        }
    }

    #message-column {
        #message-details {
            #reply-button { display: block; }

            #reply-container {
                display: none;

                &.show {
                    display: block;
                }
            }
        }
    }

    .user-review-profile-pic {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        margin-right: 0px;

        .profile-pic {
            width: 25%;
            margin-right: 15px;
        }
    }

    #user-reviews-container { grid-column-end: 2; }

    .user-review-container {
        flex-direction: column;
        margin: 0 0 30px 0;
    }

    .user-review { width: 100%; }

    .user-review-header, .user-review-header-info {
        flex-direction: column;
        align-items: flex-end;
    }

    .user-review-badge, .user-review-rating {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .user-review-separator {
        margin: 0 auto 30px auto;
        width: 90%;
    }

    .user-review-buttons { align-self: flex-end; }

    .user-reviews-placeholder-column { display: none; }

    .message-row-username {
        &.right { padding-right: 0; }
    
        &.left { padding-left: 0; }
    }

    .underline-div, .make-offer-field-container { flex-direction: column; }

    #footer {
        .footer-links {
            width: auto;
            margin: 0 0 30px 0;
        }
    }

    .account-id { flex-direction: column; }

    .add-bank-mobile-button, .add-card-mobile-button { display: inline-block !important; }
    .add-bank-button, .add-card-button { display: none !important; }

    .payment-brand {
        display: none;
    }

    #friends-list {
        .friend-panel {
            width: 100%;
            flex-basis: 100%;

            .friend-panel-header {
                .friend-panel-profile-pic {
                    display: none;
                }
            }
        }
    }

    .user-container {
        width: 100%;
    }

    .hide-on-mobile {
        display: none;
    }

    .tooltip {
        display: none;
    }
}