@media only screen and (max-width: 414px) {
    #dashboard-header {
        #dashboard-header-wrapper {
            .profile-pic-wrapper {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    .listing-row-title, .listing-row-detail-child {
        width: 100%;
        padding: 5px 10px;
    }

    .listing-row-main, {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .listing-row-title { order: 1; }
    .listing-row-purpose { order: 2; }
    .listing-row-rating { order: 3; }

    .listing-row-detail { flex-direction: column; }

    .listing-row-detail-child {
        border-right: 0;

        &:not(:first-child) { border-top: 1px solid $theme-highlight; }
    }

    .listing-row-buttons { display: none; }

    .message-row.owner, .message-row.sender {
        .message-row-profile-pic { display: none; }
    
        .message-container {
            width: 100%;
        }
    }

    #view-user-details-container {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        flex-direction: column;
    }

    #view-user-main { margin-top: 15px; }

    #view-user-main, #view-user-details {
        width: 100%;
        flex-grow: 0;
        margin-right: 0;
    }

    #view-user-profile-pic {
        width: 50%;
        margin-right: 0px;
    }

    .user-review-profile-pic {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        margin-right: 0px;

        .profile-pic {
            width: 25%;
            margin-right: 15px;
        }
    }

    .user-review-container {
        flex-direction: column;
        margin: 0 auto 0 auto;
        width: 90%;
        margin-bottom: 30px;
        padding: 15px;
    }

    .user-review { width: 100%; }

    .user-review-header, .user-review-header-info {
        flex-direction: column;
        align-items: flex-end;
    }

    .user-review-badge, .user-review-rating { margin-right: 0; }

    .user-review-separator {
        margin: 0 auto 30px auto;
        width: 90%;
    }

    .user-review-buttons { align-self: flex-end; }

    .user-reviews-placeholder-column { display: none; }

    .message-row-username {
        &.right { padding-right: 0; }
    
        &.left { padding-left: 0; }
    }

    .underline-div, .make-offer-field-container { flex-direction: column; }
}