@media only screen and (max-width: 768px) {
    #view-user-details-container {
        grid-template-columns: 100%;
    }

    #view-user-details {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #view-user-details-container {
        padding-right: 0;
        margin-top: 0;
    }

    #view-user-main { margin-right: 0; }

    /* #view-user-main, #view-user-details {
        width: 100%;
        flex-grow: 0;
        margin-right: 0;
    } */

    #view-user-details { margin-top: 30px; }

    #view-user-profile-pic {
        width: 50%;
        margin-right: 0px;
    }

    .view-user-title-wrapper {
        display: block;
    }

    #view-user-title {
        h3, #view-user-rating { text-align: center; }
    }

    #message-column {
        #message-details {
            #reply-button { display: none; }
        }
    }

    #main-panel-bg { height: 200px; }

    .listing-row-profile-pic { display: none; }

    .listing-row-main {
        a {
            width: 100%;
        }
    }

    .listing-row-wrapper {
        width: 100%;
    }

    .listing-row-detail-child {
        flex-grow: 1;
        margin-right: -1px;
    }

    .setting-container { flex-direction: column; }

    .setting-container {
        .list-setting-container { margin-bottom: 30px; }
        .list-setting-container, .business-hours-setting-container { width: 100%; }
    }

    .user-container {
        width: 49%;
    }

    .site-main-container {
        background-position: -50vw -30vh;
        background-size: 125%;
    }

    .site-main-banner {
        background-color: rgba(0, 0, 0, 0.65);
    }

    .site-main-headline {
        width: 90%;
    }

    .site-section {
        padding: 25px;

        h1 {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }
    }

    .footer-link-container {
        grid-template-columns: 1fr 1fr;
    }

    .site-nav-bar {
        display: none;
    }

    .site-top-user-panel {
        transform: scale(1);
        opacity: 1;
        position: static;
        background-image: none;
        box-shadow: none;
        width: 100%;
    }

    .site-mobile-nav-button {
        display: block;
    }

    .site-overlay {
        &.show {
            display: block;
        }
    }

    .site-mobile-nav-container {
        display: block;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
        opacity: 0;

        &.show {
            opacity: 1;
            transform: scaleX(1);
        }
    }
}