#alert {
    padding: 20px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: 2;
}

#alert.alert-success {
    background: rgb(0, 255, 0);
}

#alert.alert-error {
    background: #ED463D;
}