.w-0 {
  width: 0%;
}

.w-1 {
  width: 1%;
}

.w-2 {
  width: 2%;
}

.w-3 {
  width: 3%;
}

.w-4 {
  width: 4%;
}

.w-5 {
  width: 5%;
}

.w-6 {
  width: 6%;
}

.w-7 {
  width: 7%;
}

.w-8 {
  width: 8%;
}

.w-9 {
  width: 9%;
}

.w-10 {
  width: 10%;
}

.w-11 {
  width: 11%;
}

.w-12 {
  width: 12%;
}

.w-13 {
  width: 13%;
}

.w-14 {
  width: 14%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-17 {
  width: 17%;
}

.w-18 {
  width: 18%;
}

.w-19 {
  width: 19%;
}

.w-20 {
  width: 20%;
}

.w-21 {
  width: 21%;
}

.w-22 {
  width: 22%;
}

.w-23 {
  width: 23%;
}

.w-24 {
  width: 24%;
}

.w-25 {
  width: 25%;
}

.w-26 {
  width: 26%;
}

.w-27 {
  width: 27%;
}

.w-28 {
  width: 28%;
}

.w-29 {
  width: 29%;
}

.w-30 {
  width: 30%;
}

.w-31 {
  width: 31%;
}

.w-32 {
  width: 32%;
}

.w-33 {
  width: 33%;
}

.w-34 {
  width: 34%;
}

.w-35 {
  width: 35%;
}

.w-36 {
  width: 36%;
}

.w-37 {
  width: 37%;
}

.w-38 {
  width: 38%;
}

.w-39 {
  width: 39%;
}

.w-40 {
  width: 40%;
}

.w-41 {
  width: 41%;
}

.w-42 {
  width: 42%;
}

.w-43 {
  width: 43%;
}

.w-44 {
  width: 44%;
}

.w-45 {
  width: 45%;
}

.w-46 {
  width: 46%;
}

.w-47 {
  width: 47%;
}

.w-48 {
  width: 48%;
}

.w-49 {
  width: 49%;
}

.w-50 {
  width: 50%;
}

.w-51 {
  width: 51%;
}

.w-52 {
  width: 52%;
}

.w-53 {
  width: 53%;
}

.w-54 {
  width: 54%;
}

.w-55 {
  width: 55%;
}

.w-56 {
  width: 56%;
}

.w-57 {
  width: 57%;
}

.w-58 {
  width: 58%;
}

.w-59 {
  width: 59%;
}

.w-60 {
  width: 60%;
}

.w-61 {
  width: 61%;
}

.w-62 {
  width: 62%;
}

.w-63 {
  width: 63%;
}

.w-64 {
  width: 64%;
}

.w-65 {
  width: 65%;
}

.w-66 {
  width: 66%;
}

.w-67 {
  width: 67%;
}

.w-68 {
  width: 68%;
}

.w-69 {
  width: 69%;
}

.w-70 {
  width: 70%;
}

.w-71 {
  width: 71%;
}

.w-72 {
  width: 72%;
}

.w-73 {
  width: 73%;
}

.w-74 {
  width: 74%;
}

.w-75 {
  width: 75%;
}

.w-76 {
  width: 76%;
}

.w-77 {
  width: 77%;
}

.w-78 {
  width: 78%;
}

.w-79 {
  width: 79%;
}

.w-80 {
  width: 80%;
}

.w-81 {
  width: 81%;
}

.w-82 {
  width: 82%;
}

.w-83 {
  width: 83%;
}

.w-84 {
  width: 84%;
}

.w-85 {
  width: 85%;
}

.w-86 {
  width: 86%;
}

.w-87 {
  width: 87%;
}

.w-88 {
  width: 88%;
}

.w-89 {
  width: 89%;
}

.w-90 {
  width: 90%;
}

.w-91 {
  width: 91%;
}

.w-92 {
  width: 92%;
}

.w-93 {
  width: 93%;
}

.w-94 {
  width: 94%;
}

.w-95 {
  width: 95%;
}

.w-96 {
  width: 96%;
}

.w-97 {
  width: 97%;
}

.w-98 {
  width: 98%;
}

.w-99 {
  width: 99%;
}

.w-100 {
  width: 100%;
}

.d-flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#sector-name {
  width: 75px;
}

.admin-sector-row {
  display: flex;
}

.admin-sector-header {
  display: flex;
  font-weight: bold;
}

#alert {
  padding: 20px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  z-index: 2;
}

#alert.alert-success {
  background: lime;
}

#alert.alert-error {
  background: #ED463D;
}

.main-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.blue-panel {
  background: #2F496E;
}
.blue-panel a {
  color: #7dd2ff;
}
.blue-panel a:hover {
  color: #7dd2ff;
}

.blue-panel.deep {
  padding: 100px;
}

.blue-panel.shallow {
  padding: 25px;
}

.main-panel {
  padding: 100px 400px;
  display: flex;
  flex-direction: column;
}

.three-rounded {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.three-rounded-reverse {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}

.section-container .section-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#406497, #2F496E);
  padding: 15px;
}

.section-container .section-body {
  border-width: 0 1px 1px 1px;
  border-color: #2F496E;
  border-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  color: #000;
}

.col-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.row-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  flex-wrap: wrap;
}

.section-container {
  width: 17%;
}

.submit-btn {
  width: 90px;
}

.required-asterisk {
  color: #ED463D;
}

.grey-panel {
  background: #F9F6F4;
  padding: 10px;
  color: #000;
}

#browse {
  margin-top: 50px;
}

#browse-menu {
  position: absolute;
  top: 0;
  right: -15%;
  width: 15%;
  transition: all 0.25s ease-in-out;
  z-index: 2;
}

#browse-menu a {
  display: block;
  background: #2F496E;
  padding: 10px 20px;
  border: 1px solid #000;
}

#browse-menu a:hover {
  background: #2988BC;
}

#browse-menu a:not(:last-child) {
  border-bottom: 0;
}

#confirmation-modal {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.confirmation-dialog {
  background: #C4C4C4;
  padding: 20px;
}

.confirmation-message {
  color: #000;
}

.user-address {
  white-space: pre-line;
}

.user-message, .user-message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-message-subject {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.user-message-header {
  font-weight: bold;
}

.loading-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sector-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu {
  position: absolute;
  background: #C4C4C4;
  z-index: 1;
}

.menu-button, .delete-button {
  cursor: pointer;
}

.menu-item {
  padding: 10px;
  min-width: 75px;
  text-align: center;
  color: #000;
}

.menu-item:last-child {
  border: 1px solid #2988BC;
}

.menu-item:not(:last-child) {
  border-width: 1px 1px 0 1px;
  border-color: #2988BC;
  border-style: solid;
}

.message-panel, .message-panel-reverse {
  background: #F9F6F4;
  padding: 10px;
  color: #000;
  position: relative;
}
.message-panel:before, .message-panel-reverse:before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: -10px;
  background: #F9F6F4;
  content: "";
  transform: rotate(45deg);
}

.message-panel-reverse:before {
  right: -10px;
  left: auto;
}

.message-row, .message-row-reverse {
  display: flex;
}

.message-row-reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: auto;
}

.message-row, .message-row-reverse {
  width: 90%;
}

#navbar-container {
  width: 20%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  width: 15%;
  cursor: pointer;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.response {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-form {
  background: #F9F6F4;
  color: #000;
  padding: 20px;
}

.listings-header, .listing-row {
  display: flex;
  justify-content: space-between;
}

.listings-header {
  font-weight: bold;
}

.service-details-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-container {
  width: 50px;
  border-radius: 15px;
  background: #14FF14;
  height: 32px;
  position: relative;
}

.slider {
  width: 26px;
  height: 26px;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.25s ease-in-out;
  cursor: pointer;
}

.slider-checkbox {
  display: none;
}

.tab-bar {
  display: flex;
}

.tab-button {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-width: 1px 1px 0 1px;
  border-color: #2F496E;
  border-style: solid;
  padding: 10px;
  color: #000;
  margin-right: 5px;
}

.tab-button:hover, .menu-item:hover {
  background: #2988BC;
  cursor: pointer;
  color: #F9F6F4;
}

.tab-button.active {
  background: #2F496E;
  color: #F9F6F4;
}

#topbar {
  background: #2F496E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

#topbar #logo a:hover {
  text-decoration: none;
}

#user-bio {
  white-space: pre-line;
  position: relative;
}

.edit-user-error {
  color: #ED463D;
}

.profile-pic {
  border-radius: 100%;
  position: relative;
}

.profile-pic:after {
  content: "";
  padding-bottom: 100%;
  display: block;
  margin-bottom: 15px;
}

.profile-pic-buttons {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#profile-pic-input {
  display: none;
}

.dropzone {
  position: absolute;
  width: 100%;
  height: 100%;
}

.user-services-details {
  color: #000;
}

#add-service-container {
  position: relative;
}

.user-services-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-services-details {
  white-space: pre-line;
}

.service-form {
  background: #F9F6F4;
  color: #000;
  padding: 20px;
}

.service-buttons {
  min-width: 35px;
}

.bordered-container {
  padding: 20px;
  border: 1px solid #C4C4C4;
}

.settings-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-col {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-between;
}

#user-address {
  white-space: pre-line;
}

#view-user-services {
  color: #000;
}

.view-user-icon {
  color: #ED463D;
}

.view-user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.view-user-service-header, .view-user-service-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-user-address {
  white-space: pre-line;
  border-left: 3px solid #ED463D;
  padding-left: 10px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: #C4C4C4;
  color: #F9F6F4;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100%;
}

a {
  font-weight: bold;
  color: #F9F6F4;
}

a:hover {
  color: #F9F6F4;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat Bold";
}

hr {
  background: #2988BC;
}

/*# sourceMappingURL=index.css.map */
