#view-user-title h1, #view-user-title h4 {
    margin: 0;
}

#view-user-title {
    margin-bottom: 20px;
}

#view-user-details {
    background: #F9F6F4;
    color: #000;
    padding: 10px;
}

.user-rating {
    color: #FFFF00;
}

#view-user-title .fa-layers-text {
    color: #000;
    font-size: 40%;
    -webkit-transform: translate(-30%, -30%);
    -webkit-transform-origin: center center;
    transform: translate(-30%, -30%);
    transform-origin: center center;
}