.admin-scroller-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
    padding: 0 37px 0 20px;
}

.admin-scroller-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}