.panel-container {
    display: flex;
    justify-content: center;
}

.main-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.blue-panel {
    background: #2F496E;
}

.blue-panel.deep {
    padding: 100px;
}

.blue-panel.shallow {
    padding: 25px;
}

.blue-panel.rounded-corners {
    border-radius: 5px;
}

.form-buttons {
    text-align: right;
}

.form-buttons input[type=submit] {
    margin-right: 5px;
}

.section-container {
    margin-bottom: 20px;
}

.main-panel {
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
}

.three-rounded {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.section-container .section-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#406497, #2F496E);
    padding: 15px;
}

.section-container .section-body {
    border-width: 0 1px 1px 1px;
    border-color: #2F496E;
    border-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    color: #000;
}

.list-horizontal {
    display: flex;
    flex-wrap: wrap;
}

.col-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.row-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    flex-wrap: wrap;
}

.section-container {
    width: 17%;
}

.submit-btn {
    width: 90px;
}

.menu-container {
    position: relative;
}

.menu {
    position: absolute;
    background: #C4C4C4;
    z-index: 1;
}

.menu-button {
    cursor: pointer;
}

.menu-item {
    padding: 10px;
    min-width: 75px;
    text-align: center;
    color: #000;
}

.menu-item:hover {
    background: #2988BC;
    cursor: pointer;
    color: #FFF;
}

.menu-item:last-child {
    border: 1px solid #2988BC;
}

.menu-item:not(:last-child) {
    border-width: 1px 1px 0 1px;
    border-color: #2988BC;
    border-style: solid;
}

.tab-bar {
    display: flex;
}

.tab-button {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-width: 1px 1px 0 1px;
    border-color: #2F496E;
    border-style: solid;
    padding: 10px;
    color: #000;
    margin-right: 5px;
}

.tab-button:hover {
    background: #2988BC;
    cursor: pointer;
    color: #F9F6F4;
}

.tab-button.active {
    background: #2F496E;
    color: #F9F6F4;
}

.delete-button {
    cursor: pointer;
}

.required-asterisk {
    color: #ED463D;
}

.grey-panel {
    background: #F9F6F4;
    padding: 10px;
    color: #000;
}