.milestone-tracking-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.milestone-updater-row {
    margin-bottom: 30px;
}

.disabled {
    .opaque {
        opacity: 0.5;
        pointer-events: none;
    }
}

.milestone-tracking-row-separator {
    width: 15px;
    height: 30px;
    margin: 0 0 15px 18px;
    background-color: $theme-lightgrey;
}

.milestone-details-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.milestone-upload-file {
    display: none;
}

.milestone-filename {
    max-width: 100%;
    margin-right: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.milestone-file-list {
    &.hide {
        display: none;
    }
}

.milestone-file-details {
    padding-left: 15px;
}

.milestone-upload-progress-track {
    height: 15px;
    width: 100%;
    background-color: $theme-lightgrey;
}

.milestone-upload-progress-bar {
    width: 0;
    transition: width 0.5s ease-in-out;
    height: 100%;
    background-color: $theme-highlight;
}

.milestone-number {
    width: 50px;
    height: 50px;
    background-color: $info;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 15px;
}

.milestone-progress-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.milestone-updater-row-header {
    display: flex;
    flex-grow: 1;
}

.milestone-tracker-condition-row {
    display: flex;
    align-items: center;
    
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.milestone-progress-bar-track {
    width: 100%;
    height: 15px;
    background: $theme-lightgrey;
    margin-bottom: 5px;
}

.milestone-progress-bar {
    width: 0;
    background-color: $theme-highlight;
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.milestone-progress-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.milestone-button {
    margin-left: 15px;
    cursor: pointer;

    &:hover {
        filter: brightness(90%);
    }
}

.milestone-conditions-container {
    margin-left: 18px;
    padding-left: 30px;
    border-left: 15px solid $theme-lightgrey;
    display: none;

    &.show {
        display: block;
    }
}

.milestone-updater-details {
    width: 30%;
}

.condition-row {
    display: flex;
    margin-bottom: 5px;

    &.disabled {
        cursor: default;
        pointer-events: none;
    }
}

.condition-row-icon, .condition-link {
    cursor: pointer;
}

.condition-link {
    &:hover {
        text-decoration: underline;
    }
}

.milestone-tracking-details {
    display: flex;
    justify-content: center;

    .detail-child:not(:last-child) {
        margin-right: 15px;
    }
}

.job-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-details-subheader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.job-details-dates {
    display: flex;
    align-items: center;
}