#alert {
    padding: 20px;
    margin-bottom: 5px;
    transition: opacity 0.25s ease-in-out;
}

#alert.alert-success {
    background: $success;
}

#alert.alert-error {
    background: $theme-special;
}