#root { width: 100%; }

.col-container {
    display: flex;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.main-panel {
    padding: 20px;
    color: black;

    hr { background-color: black; }

    a {
        color: $theme-highlight;
        text-decoration: none;
    }

    a:hover {
        color: $theme-highlight;
        text-decoration: underline;
    }

    > .titled-container:first-child {
        margin-top: 50px;
    }
}

.badge {
    display: flex;
    font-size: 0.7em;
    font-weight: bold;
}

#initial-loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

/* .bg-purple { background-color: $theme-purple !important; }
.bg-orange { background-color: $theme-orange !important; }
.bg-green { background-color: $theme-green !important; }
.bg-violet { background-color: $theme-violet !important; }
.bg-highlight { background-color: $theme-highlight !important; }
.bg-lime { background-color: $theme-lime !important; }
.bg-success { background-color: $success !important; }
.bg-yellow { background-color: $theme-yellow !important; }
.bg-primary { background-color: $primary !important; }
.bg-lightblue { background-color: $theme-lightblue !important; }
.bg-lightgrey { background-color: $theme-lightgrey !important; }

.text-special { color: $theme-special !important;  }
.text-black { color: black !important; }
.text-highlight { color: $theme-highlight !important; }
.text-dark { color: $theme-darkgrey !important; }
.text-info { color: $info !important; }
.text-blue { color: $theme-blue !important; }
.text-light { color: $theme-lightgrey !important; }
.text-success { color: $success !important; }
.text-danger { color: $danger !important; }
.text-warning { color: $warning !important; }
.text-alt-highlight { color: $theme-alt-highlight !important; }
.text-secondary { color: $secondary !important; }
.text-white { color: white !important; } */

.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }

.bordered-container {
    padding: 20px;
    border: 1px solid $theme-bg;

    hr { background: $theme-bg }

    &.no-top { border-top-width: 0px; }
}

.underline-div {
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        border-bottom: 1px solid $theme-medgrey;
        margin-bottom: 10px;
    }
}

.dotted-underline-div {
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted $theme-medgrey;
    margin-bottom: 10px;
}

.mini-badge {
    display: inline-block;
    font-size: 0.7rem;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
    margin: 0 1px;
}

.med-badge {
    @extend .mini-badge;
    font-size: 1rem;
}

#prompt-input {
    border: 1px solid $theme-medgrey;
    padding: 5px 10px;
    width: 100%;
}

#hireworld-logo {
    margin: 30px auto;
    width: 90%;
    cursor: pointer;
}

.mobile-tooltip { display: none; }

.keep-format {
    white-space: pre-line;
}

#review-hireworld {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hr-label {
    width: 100%;
    display: flex;
    align-items: center;

    .hr {
        width: 100%;
        height: 1px;
        background-color: $theme-highlight;
        flex-grow: 1;
    }

    .label {
        padding: 0 20px;
    }
}

#activate-account, #forgot-password {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}