.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.blue-panel {
    background: #2F496E;

    a {
        color: $theme-alt-highlight;
    }

    a:hover {
        color: $theme-alt-highlight;
    }
}

.blue-panel.deep {
    padding: 100px;
}

.blue-panel.shallow {
    padding: 25px;
}

.main-panel {
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
}

.three-rounded {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.three-rounded-reverse {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.section-container .section-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#406497, #2F496E);
    padding: 15px;
}

.section-container .section-body {
    border-width: 0 1px 1px 1px;
    border-color: #2F496E;
    border-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    color: #000;
}

.col-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.row-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    flex-wrap: wrap;
}

.section-container {
    width: 17%;
}

.submit-btn {
    width: 90px;
}

.required-asterisk {
    color: $theme-special;
}

.grey-panel {
    background: $theme-fg;
    padding: 10px;
    color: #000;
}

.dark-grey-panel {
    background: $theme-darkgrey;
    padding: 10px;
}

.btn-sm {
    min-width: 35px;
}

.keep-format {
    white-space: pre-line;
}

.badge-dark a {
    color: #FFF;
}

.badge-light a {
    color: #000;
}

.border-blue {
    border: 1px solid $theme-blue;
}

#root {
    width: 100%;
    min-height: 100%;
}

.bordered-container {
    padding: 20px;
    border: 1px solid $theme-bg;
}

.dark-bordered-container {
    padding: 20px;
    border: 1px solid $theme-darkgrey;
}