.blocked-user-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: $theme-lightgrey;
    border: 1px solid black;
}

.unblock-button {
    color: $theme-green;
    cursor: pointer;
}