#bottombar-container {
    background: linear-gradient(45deg, $theme-lightblack, $not-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    max-height: 100%;
    //overflow: hidden;
    bottom: 0;
    z-index: 99;
    width: 100vw;

    .bottombar-toggle-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(45deg, $theme-lightblack, $not-black);
        padding: 10px 20px;

        #bottombar-toggle-button { margin-left: auto; }

        #bottombar-button-container {
            position: relative;
            display: flex;
        }

        #bottombar-notification-button {
            position: relative;
    
            #bottombar-notification-counter {
                position: absolute;
                top: -8px;
                left: 0;
            }
        }
    }

    &.expand { height: 100%; }
    &.hide { display: none; }
}

#bottombar {
    width: 100%;
    position: absolute;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: scroll;
    transition: height 0.05s ease-in-out;

    &.expand { height: calc(100vh - 55px); }

    .bottombar-item-icon { margin-right: 15px; }

    #login-panel {
        align-self: center;
        padding: 0;
        width: 100%;
    }

    .bottombar-item-container {
        overflow-y: scroll;
        width: 100%;
        /* top: 0;
        left: 0;
        position: absolute; */
        transition: all 0.05s ease-in-out;
        padding: 10px 20px 0px 20px;

        &.hide { opacity: 0; }
        &.expand { height: 100%; }
    }

    .bottombar-item-wrapper {
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin-bottom: 10px;

        a { text-decoration: none; }
    }

    .bottombar-sub-item-container {
        margin: 0px 0 10px 15px;
        border-left: 5px solid $theme-medgrey;
        padding-left:  15px;
        font-size: 1.6rem;

        .bottombar-sub-item {
            margin-bottom: 15px;
        }
    }

    #bottombar-sectors-container {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
        background: linear-gradient(45deg, $theme-lightblack, $not-black);
        background-color: black;
        width: 100vw;
        height: 100%;
        transition: left 0.1s ease-in-out;
        overflow-y: scroll;
        font-size: 2rem;
        padding: 10px 20px 0px 20px;

        &.show { left: 0; }

        #bottombar-sectors-close-button { margin: 0 20px 0 0; }
    }

    a { text-decoration: none; }
}