#browse-menu {
    position: absolute;
    right: -15%;
    width: 15%;
    transition: all 0.25s ease-in-out;
    z-index: 3;
}

#browse-menu a {
    display: block;
    background: #2F496E;
    padding: 10px 20px;
    border: 1px solid #000;
}

#browse-menu a:hover {
    background: $theme-highlight;
}

#browse-menu a:not(:last-child) {
    border-bottom: 0;
}