#confirmation-modal {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.confirmation-dialog {
    background: $theme-bg;
    padding: 20px;
}

.confirmation-message {
    color: #000;
}