#dashboard {
    display: flex;
    width: 100vw;
}

#dashboard-profile-pic {
    margin: 0 auto 30px auto;
    padding-top: 30px;
    width: 75%;
}

#dashboard-main {
    position: relative;
    width: 80%;
}

#main-panel-bg {
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: $theme-alt-highlight;
    z-index: -1;
}

#dashboard-panel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0 0 0;

    .dashboard-panel-half { width: 45%; }
    .dashboard-panel-full { width: 100%; }
}

#dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;

    #dashboard-header-wrapper {
        width: 90%;
        display: flex;

        #dashboard-header-user-info {
            flex-grow: 1;
            margin-left: 15px;
            
            a:hover {
                color: $theme-blue;
                text-decoration: underline;
            }
        }

        .profile-pic-wrapper { width: 15%; }
    }
}

#dashboard-list-buttons-container {
    display: flex;
    width: 10%;

    #mobile-logout-button { display: none; }
}

.dashboard-list-button {
    cursor: pointer;
    margin-right: 4px;

    &:hover { color: $theme-highlight; }
}

.load-more-button {
    text-align: center;
    margin-top: 30px;
}

.activity-badge { flex-grow: 1; }
.activity-timestamp { font-size: 0.8rem; }

.edit-user-header-field {
    margin-bottom: 5px;

    h3 { display: flex; }
}

.edit-user-field-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.edit-user-field-text, .edit-user-field-icon { margin-right: 5px; }

.edit-user-field-form {
    display: flex;
    width: 100%;
}

.edit-user-social-media-button {
    margin-right: 15px;
    cursor: pointer;
    color: $theme-highlight;

    &:hover { color: $theme-blue; }
}

#edit-user-social-media {
    position: relative;

    .edit-user-field-container {
        position: absolute;
        z-index: 4;
    }
}