.user-address {
    white-space: pre-line;
}

.payment-address-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 45%;
}

.payment-address-parent {
    display: flex;
    justify-content: space-between;
}

.payment-submit-button-div {
    justify-items: last baseline;
}