#search {
    width: 100%;
    position: relative;
}

#search-container {
    position: absolute;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 5px 10px $theme-lightblack;
    transition: padding 0.1s ease-in-out;
    transition-delay: 0.25s;

    form {
        padding: 0 0 20px 0;
        background-color: $theme-blue;

        &.hide {
            padding: 0;
        }
    }
}

#search-field-container {
    background-color: $theme-blue;
    max-height: 75vh;
    transition: max-height 0.1s ease-in-out;
    overflow: auto;
    width: 95%;
    margin: 0 auto 0 auto;
    
    #search-field-wrapper {
        height: 100%;
        padding: 20px;

        .fg-1 {
            flex-grow: 1;
            margin-right: 30px;
        }

        #search-price, #completed-jobs {
            flex-grow: 1;
        }
    }
    
    &.hide {
        max-height: 0;
        overflow: hidden;
    }
}

#search-toggler {
    background-color: $theme-blue;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
}

/* .input-group-text.seperator {
    border-radius: 0 !important;
}

.no-border-radius-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.no-border-radius-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
} */