@import '../../scss/footer';

footer { position: relative; }

#footer {
    position: absolute;
    width: 100%;
    z-index: 4;
    border-top: 1px solid black;

    .footer-links {
        width: 50%;
        margin: 0 auto 30px auto;
    }
}