.input-container {
    position: relative;
    margin-top: 15px;
    background-color: white;
    padding: 20px 0 0 0;
    border: 1px solid black;
    color: black;
    display: flex;

    &.disabled { background-color: $theme-lightgrey; }
    &.half { width: 50%; }
    &.quarter { width: 25%; }
    &.three-quarter { width: 75%; }

    .input-container-header {
        display: flex;
        position: absolute;
        top: -14px;
        margin-left: 10px;

        label {
            font-weight: bold;
            font-size: 0.8rem;
            padding: 5px;
        }

        label:first-child {
            color: white;
            border: 1px solid black;
            background-color: $theme-highlight;
        }

        .alt-label {
            border: 1px solid black;
            border-left: 0;
            background-color: $theme-medgrey;
            color: white;
        }

        .required-label {
            border: 1px solid black;
            border-left: 0;
            background-color: white;
        }
    }

    .input-required {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 0.8rem;
    }

    /* .InputElement, select { padding: 17px 6px 10px 6px; }
    .InputElement, input { padding: 20px 6px 10px 6px; } */

    input, select {
        width: 100%;
        /* color: black;
        background-color: white;
        width: 100%; */

        &:disabled {
            background-color: $theme-lightgrey;
            
            .input-required {
                small { color: black; }
            }
        }
    }
    
    input {
        border-left: 0;
        border-bottom: 1px solid $theme-lightgrey;
        border-top: 0;
        border-right: 0;
    }

    select { border: 0; }

    > input:not([type=checkbox]) {
        margin: 0 5px 4px 5px;
    }
    
    > select {
        margin: 0 5px 5px 5px;
    }

    .checkbox-label-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 3px;

        .checkbox-label {
            flex-grow: 1;

            .checkbox {
                border-width: 1px 1px 1px 0;
                border-color: $theme-medgrey;
                border-style: solid;
                width: 30px;
                height: 30px;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            &:not(:first-child) {
                .checkbox { border-width: 1px 1px 1px 1px; }
            }

            &.hovered {
                .checkbox-label-text {
                    background-color: $theme-green;
                    border-color: $theme-green;
                    color: white;
                }
            }
        }

        .checkbox-label.active {
            .checkbox-container {
                color: $success;

                .checkbox-label-text {
                    color: white;
                    border-color: $success;
                    background-color: $success;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .checkbox { border-color: $success; }

            &.hovered {
                .checkbox-label-text {
                    background-color: $theme-green;
                    border-color: $theme-green;
                }
            }
        }

        input[type=checkbox] {
            opacity: 0;
            z-index: -1;
            position: absolute;
            left: 0;
        }

        .checkbox-container {
            display: flex;
            align-items: center;
            color: $theme-medgrey;

            .checkbox-label-text {
                padding: 5px;
                border-width: 1px 0;
                border-color: $theme-medgrey;
                border-style: solid;
                height: 30px;
                flex-grow: 1;
            }
        }
    }
}