.input-group-container {
    border: 1px solid black;
    position: relative;
    background-color: white;
    color: black;
    padding: 20px 0px 0px 0px;
    margin-top: 15px;

    .input-group-label {
        display: block;
        position: absolute;
        width: 90%;
        top: -15px;
        left: 5%;
        padding: 5px;
        border: 1px solid black;
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .input-group {
        display: flex;

        .input-group-text-seperator { margin: 0 5px 0 5px; }

        &.column {
            flex-direction: column;
        }

        &.row {
            align-items: center;
        }
    }

    > select, input {
        height: 100%;
        border: 0;
        width: 100%;
    }

    select {
        border: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    > div.payment-input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $theme-medgrey;
        padding: 5px;

        input { margin-top: 0; }

        .payment-input {
            display: flex;
            align-items: center;
            width: 50%;

            > div { width: 5%; }
            > input { flex-grow: 1 }
        }
    }
}