.input-group-container {
    border: 1px solid black;
    position: relative;
    background-color: white;
    color: black;
    padding: 20px 0px 0px 0px;
    margin-top: 15px;
    
    .input-container-header {
        display: flex;
        position: absolute;
        top: -14px;
        margin-left: 10px;

        label {
            font-weight: bold;
            font-size: 0.8rem;
            padding: 5px;
        }

        label:first-child {
            color: white;
            border: 1px solid black;
            background-color: $theme-highlight;
        }

        .alt-label {
            border: 1px solid black;
            border-left: 0;
            background-color: $theme-medgrey;
            color: white;
        }

        .required-label {
            border: 1px solid black;
            border-left: 0;
            background-color: white;
        }
    }

    .input-group {
        display: flex;

        .input-group-text-seperator { margin: 0 5px 0 5px; }

        &.column {
            flex-direction: column;
        }

        &.row {
            align-items: center;
        }
    }

    select:not(:last-child), input:not(:last-child) {
        margin-right: 15px;
    }

    input {
        border-left: 0;
        border-bottom: 1px solid $theme-lightgrey;
        border-top: 0;
        border-right: 0;
        flex-grow: 1;
    }

    select {
        border: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        flex-grow: 1;
    }

    input:not([type=checkbox]), select {
        margin: 0 5px 5px 5px;
    }

    > div.payment-input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $theme-medgrey;
        padding: 5px;

        input { margin-top: 0; }

        .payment-input {
            display: flex;
            align-items: center;
            width: 50%;

            > div { width: 5%; }
            > input { flex-grow: 1 }
        }
    }
}