.terms {
    background-color: $theme-lightgrey;
    padding: 10px;
    border-radius: 3px;
    color: black;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-top: 30px;

    a { color: $theme-highlight; }
}

.link-work-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-work-badges, .financial-account-currency {
    display: flex;
}

.financial-account-row {
    margin-left: 5px;
}

.financial-account-details {
    margin-bottom: 5px;
}