#login {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;

    #login-panel { padding: 0; }
}

.login-field {
    margin-bottom: 30px;

    &:last-child { margin-bottom: 15px; }
}

#forgot-password {
    display: block;
    margin-bottom: 15px;
}

#login-panel { padding: 20px; }