.sector-rows-container {
    color: black;
    
    a {
        color: $theme-highlight;
    }
}

.sector-row {
    margin-bottom: 5px;
    border: 1px solid black;
    background-color: $theme-lightgrey;
}

.sector-row-name {
    border-bottom: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.sector-row-definition {
    font-size: 0.8rem;
    padding: 5px 5px 5px 15px;
}