.message-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .message-row-profile-pic { width: 10%; }

    .message-container {
        display: flex;
        flex-direction: column;
        width: 85%;

        .message-row-footer {
            font-size: 0.8rem;
        
            &.sender {
                text-align: right;
            }
        
            &.owner {
                text-align: left;
            }
        }
    }

    .message-row-body {
        padding: 20px;
        color: black;
        margin-bottom: 5px;
        white-space: pre-line;
        position: relative;

        .new-message-status {
            position: absolute;
            top: -5px;
            right: 10px;
        }

        .message-body-text {
            margin-left: 30px;
        }
    }

    .message-row-buttons {
        margin-top: 15px;
        text-align: right;
    }

    &.owner {
        flex-direction: row-reverse;

        .message-row-body {
            background: linear-gradient(45deg, #a5dcff, #96d8fc);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    &.sender {
        .message-row-body {
            background: linear-gradient(45deg, $theme-lightgrey, rgb(202, 202, 202));
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    &.system {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;

        .message-row-body {
            background-color: $theme-medgrey;
            border-radius: 5px;

            &.confirmation {
                background: linear-gradient(45deg, rgb(255, 254, 234), rgb(255, 250, 209));
            }

            &.abandonment {
                background: linear-gradient(45deg, rgb(255, 230, 230), rgb(250, 200, 200));
            }
        }
    }
}

.message-row-username {
    &.right { text-align: right; }
    &.left { text-align: left; }
}