#message-details {
    color: black;
    width: 100%;
    
    a {
        color: $theme-highlight;
        text-decoration: none;
    }
}

#message-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .message-subject {
        display: flex;
        align-items: center;

        h3 { margin-right: 15px; }
    }
}

.message-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#complete-job-button, #abandon-job-button, #message-reply-button, #message-hire-button, #message-offer-button { margin-right: 5px; }
.message-cancel-button { margin-left: 5px; }
.message-subject { margin-bottom: 5px; }

#offer-confirmation, .offer-date-text, .offer-message, .offer-confidential-message, #offer-detail-container { margin-bottom: 30px; }
.offer-message { text-align: center; }
.fetch-status { position: relative; }

.message-header-buttons {
    display: flex;
    align-items: flex-start;
}

.make-offer-field-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.payment-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

.payments-container {
    flex-grow: 1;
    margin-left: 15px;
}

.payment-input {
    display: flex;
    flex-grow: 1;
    margin-right: 5px;
}

.make-offer-field-quarter, .number-of-payments-label { width: 25%; }
.make-offer-field-half { width: 45%; }
.make-offer-field-three-quarter { width: 70%; }

/* .message-panel {
    background: $theme-fg;
    padding: 10px;
    color: #000;
    position: relative;
    white-space: pre-line;

    &:before {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 4px;;
        left: -10px;
        background: $theme-fg;
        content: '';
        transform: rotate(45deg);
    }
}

.message-panel-reverse {
    @extend .message-panel;

    &:before {
        right: -10px;
        left: auto;
    }
}

.message-row {
    display: flex;
}

.message-row-reverse {
    @extend .message-row;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: auto;
}

.message-row, .message-row-reverse {
    width: 90%;
}

.offer-detail-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */