#inquiries {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
}

.message-filter-buttons-container {
    margin-bottom: 30px;
    position: relative;

    .close-message-column-button {
        display: none;
    }
}

#message-list-column-container {
    width: 40%;

    #message-list-column {
        background-color: $theme-blue;
        min-height: 100%;
        display: flex;
        align-items: flex-start;

        #message-list-main-column {
            padding: 20px;
            width: 100%;

        }
    }
}

#message-list-toggle-up-down { display: none; }

#message-column {
    padding: 20px;
    width: 58%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .load-message-text {
        align-self: center;
        text-align: center;
    }
}

.inquiry-rows { margin: 30px 0; }

.inquiry-row-text-wrapper {
    width: 100%;
    font-weight: bold;
    color: $theme-highlight;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    display: flex;
    align-items: center;

    &:hover, &.active {
        color: white;
        background-color: $theme-highlight;
        cursor: pointer;

        /* .inquiry-row-text-wrapper {
            color: white;
            background-color: $theme-highlight;
        } */
    }
    
    .inquiry-row-text {
        width: 100%;
        height: 100%;
        padding: 5px;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
    }
}

.inquiry-row-id {
    padding: 5px;
}

.inquiry-row-buttons {
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    padding: 5px;
    flex-grow: 1;
}

.inquiry-row {
    border: 1px solid black;
    margin-bottom: 30px;
    background-color: $theme-lightgrey;
    color: black;
    position: relative;

    a {
        color: $theme-highlight;
        text-decoration: none;

        &:hover {
            color: $theme-alt-highlight;
            text-decoration: underline;
        }
    }
}

.inquiry-main-row {
    width: 100%;
    border-bottom: 1px solid black;
    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;

    /* &:hover, &.active {
        color: white;
        background-color: $theme-highlight;
        cursor: pointer;

        .inquiry-row-text-wrapper {
            color: white;
            background-color: $theme-highlight;
        }
    } */
}

.inquiry-detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.inquiry-detail-type-indicator {
    width: 24px;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $success;

    &.sent { background-color: $theme-orange; }
    &.received { background-color: $theme-green; }
}

.inquiry-detail-type {
    padding: 5px;
    display: flex;
}

.message-active-arrow {
    color: $theme-blue;
    position: absolute;
    top: 0;
    left: calc(100% + 18px);
}

.message-option-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#message-list-mini-column {
    display: none;
}

/* .user-message-subject {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.user-message-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
}

.review-star {
    color: $theme-darkgrey;
    cursor: pointer;
    
    &:hover, &.active {
        color: #ffc107;
    }
} */