@mixin box-shadow {
    box-shadow: 0 3px 5px #444444;
}

@mixin widths-list {
    @for $i from 0 through 100 {
        .w-#{$i} {
            width: percentage($i / 100) !important;
        }
    }
}

@mixin new-component-colors {
    @each $component in 'button', 'badge', 'border', 'text' {
        @each $colorName, $color in 
        (purple, darkviolet),
        (orange, darkorange),
        (pink, hotpink) {
            .#{$component}-#{$colorName} {
                background-color: $color;
                color: #FFF;
            }
        }
    }
}