@mixin box-shadow {
    box-shadow: 0 3px 5px #444444;
}

@mixin widths-list {
    @for $i from 0 through 100 {
        .w-#{$i} {
            width: percentage($i / 100) !important;
        }
    }
}

@mixin margins-paddings {
    @for $i from 0 through 5 {
        @if $i == 0 {
            $value: 0 !global;
        } @else if $i == 1 {
            $value: 5px !global;
        } @else if $i == 2 {
            $value: 15px !global;
        } @else if $i == 3 {
            $value: 30px !global;
        } @else if $i == 4 {
            $value: 45px !global;
        } @else if $i == 5 {
            $value: 60px !global;
        }

        @each $property in 'm', 'p' {
            @if $property == 'm' {
                $prop: margin !global;
            } @else if $property == 'p' {
                $prop: padding !global;
            }

            .#{$property}-#{$i} {
                #{$prop}: $value !important;
            }

            .#{$property}t-#{$i} {
                #{$prop}-top: $value !important;
            }

            .#{$property}r-#{$i} {
                #{$prop}-right: $value !important;
            }

            .#{$property}b-#{$i} {
                #{$prop}-bottom: $value !important;
            }

            .#{$property}l-#{$i} {
                #{$prop}-left: $value !important;
            }

            .#{$property}x-auto {
                #{$prop}-left: auto !important;
                #{$prop}-right: auto !important;
            }

            .#{$property}y-auto {
                #{$prop}-top: auto !important;
                #{$prop}-bottom: auto !important;
            }
        }
    }
}

@mixin new-component-colors {
    //@each $component in 'mini-badge', 'btn', {
        @each $colorName, $color, $text in 
        ('success', $success, white),
        ('warning', $warning, black),
        ('danger', $danger, white),
        ('info', $info, white),
        ('primary', $primary, white),
        ('secondary', $secondary, white),
        ('light', $theme-lightgrey, black),
        ('dark', $theme-darkgrey, white),
        ('purple', $theme-purple, white),
        ('orange', $theme-orange, white),
        ('pink', $theme-pink, black),
        ('green', $theme-green, white),
        ('lightblue', $theme-lightblue, black),
        ('violet', $theme-violet, white),
        ('lime', $theme-lime, white),
        ('yellow', $theme-yellow, black),
        ('grey', $theme-medgrey, black) {
            .mini-badge-#{$colorName} {
                background-color: $color;
                color: $text;

                &.outline {
                    border: 1px solid $color;
                    background-color: transparent;
                }
            }

            .btn-#{$colorName} {
                background-color: $color;
                color: $text;
            }
        }
    //}
}

@mixin badges {
    @each $colorName, $color in
    ('success', $success),
    ('warning', $warning),
    ('danger', $danger),
    ('info', $info),
    ('primary', $primary),
    ('secondary', $secondary),
    ('light', $theme-lightgrey),
    ('dark', $theme-darkgrey),
    ('purple', $theme-purple),
    ('orange', $theme-orange),
    ('pink', $theme-pink),
    ('green', $theme-green),
    ('lightblue', $theme-lightblue),
    ('violet', $theme-violet),
    ('lime', $theme-lime),
    ('yellow', $theme-yellow),
    ('grey', $theme-medgrey),
    ('special', $theme-special),
    ('highlight', $theme-highlight),
    ('alt-highlight', $theme-alt-highlight),
    ('black', black) {
        .badge.badge-#{$colorName} {
            color: white;

            .badge-header {
                background-color: $color;
                width: 20px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
    
            .badge-body {
                border: 1px solid $color;
                padding: 3px 5px;

                &:last-child { border-left: 0; }
            }
        }

        .border-#{$colorName} {
            border: 1px solid $color !important;
        }

        .bg-#{$colorName} {
            background-color: $color !important;
        }

        .text-#{$colorName} {
            color: $color !important;
        }


    }
}