@mixin box-shadow {
    box-shadow: 0 3px 5px #444444;
}

@mixin widths-list {
    @for $i from 0 through 100 {
        .w-#{$i} {
            width: percentage($i / 100) !important;
        }
    }
}

@mixin new-component-colors {
    @each $component in 'button', 'badge', 'border', 'text' {
        @each $colorName, $color, $text in 
        ('purple', darkviolet, white),
        ('orange', darkorange, white),
        ('pink', hotpink, black),
        ('lime', yellowgreen, black),
        ('lightblue', deepskyblue, black),
        ('violet', mediumvioletred, white) {
            .#{$component}-#{$colorName} {
                background-color: $color;
                color: $text;
            }
        }
    }
}