@media only screen and (max-width: 414px) {
    /* #sidebar {
        position: fixed;
        width: 100%;
        min-height: 110px;
        height: 110px;
        bottom: 0;
        z-index: 99;

        #sidebar-username, #dashboard-profile-pic, hr, .sidebar-link-text, .sidebar-link-underline  { display: none; }

        #sidebar-links {
            display: flex;
            justify-content: space-around;
            margin-left: 0;
        }

        .sidebar-link-container { margin-top: 20px; }

        .sidebar-link-icon {
            font-size: 2rem;
            margin-right: 0;
        }

        .sidebar-link-item.active { border-right: 0; }
    } */

    #footer { padding-bottom: 75px; }

    #dashboard-main { width: 100%; }

    #dashboard-header {
        flex-direction: column-reverse;
        color: black;
        align-items: flex-end;

        #dashboard-header-wrapper {
            flex-direction: column;
            align-items: center;
            width: 100%;

            #dashboard-header-user-info {
                margin-left: 0;

                .edit-user-field-icon { display: none; }
            }
        
            .profile-pic-wrapper {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    .edit-user-field-form {
        flex-direction: column;

        input { margin-bottom: 5px; }
    }

    .edit-user-header-field {
        margin-bottom: 5px;
        width: 100%;
    
        h3 { justify-content: space-between; }
    }

    #edit-user-social-media {
        .edit-user-field-container { width: 100%; }
    }

    #main-panel-bg { height: 275px; }

    .col-container { width: 100vw; }

    .dashboard-list-button { margin-right: 10px; }

    #dashboard-panel-container {
        flex-direction: column;
    
        .dashboard-panel-half { width: 100%; }

        #notifications-panel { order: 2; }
        #activities-panel { order: 3; }
        #upcoming-events-panel { order: 1; }
    }

    #dashboard-list-buttons-container {
        width: auto;

        #mobile-logout-button {
            display: block;
            margin-left: 10px;
        }
    }

    .main-panel {
        .titled-container {
            &:first-child { margin-top: 15px; }

            .titled-container-row-detail {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                > div:first-child { width: 100%; }
                > div:last-child { width: 100%; }
            }

            .title-wrapper {
                top: -18px;
                margin-left: 5px;

                .titled-container-icon { display: none; }
            }

            .titled-container-row {
                .titled-container-row-title {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 15px;
                }
            }
        }
    }

    #sidebar-links {position: relative; }

    #inquiries {
        display: block;
        position: relative;

        #message-column {
            padding: 20px 20px 75px 70px; 
            width: 100%;
        }
    }

    #message-list-column {
        position: fixed;
        left: 0;
        z-index: 5;
        overflow-x: hidden;
        padding-bottom: 75px;
        height: 100%;
        width: 100%;
        transition: width 0.25s ease-in-out;

        #message-list-main-column {
            width: 100%;
            opacity: 1;
            transition: opacity 0.1s ease-in 0.25s;
        }

        &.hide {
            width: 0;
            z-index: 3;
        
            #message-list-main-column {
                opacity: 0;
                transition: opacity 0s ease-out 0s;
            }
        }
    }

    #message-list-mini-column {
        position: fixed;
        background-color: $theme-blue;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        z-index: 3;
        width: 50px;
        overflow-x: hidden;
        border-right: 1px solid black;

        &.hide { display: none; }
    }

    .message-filter-buttons-container {
        button {
            font-size: 0.8rem;
        }

        #close-message-column-button {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .message-row.owner, .message-row.sender {
        .message-row-profile-pic { display: none; }
    
        .message-container {
            width: 100%;
        }
    }

    .message-row-username {
        &.right { padding-right: 0; }
    
        &.left { padding-left: 0; }
    }

    .underline-div, .make-offer-field-container { flex-direction: column; }
    
    .make-offer-field-container { margin-bottom: 0; }

    .make-offer-field-quarter, .make-offer-field-half, .make-offer-field-three-quarter, .input-group-container {
        width: 100%;
        margin-bottom: 30px;
    }

    .number-of-payments-label {
        width: auto;
        margin-right: 5px;

        > span { display: none; }
    }

    .modal-container { max-width: 90%; }

    .setting-panel-container {
        flex-direction: column;
        margin-top: 0;
    }

    .setting-child {
        width: 100%;
        flex-basis: auto;
        margin-bottom: 30px;
        padding: 0;

        &.quarter, &.half, &.three-quarter {
            flex-basis: auto;
            width: 100%;
        }
    }

    .payment-method {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $theme-highlight;
    }

    .setting-field-container {
        flex-direction: column;
        
        &.center { justify-content: center; }
    }

    #listing-settings {
        #listing-price, #listing-price-type, #listing-price-currency {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    /* .business-hour-container {
        width: 100%;
    } */

    .settings-col {
        width: 100%;

        .setting-col-field {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 15px;
            border-bottom: 1px solid $theme-highlight;

            .slider-container { align-self: flex-end; }
        }
    }

    .tooltip-icon { display: none; }
    .mobile-tooltip {
        display: block;
        font-size: 0.8rem;
    }

    .payment-icon { width: 49%; }
    .payment-icons, .payment-brand, .payment-method-info { margin-bottom: 15px; }

    .checkout-buttons {
        flex-direction: column; 
        align-items: flex-start;

        button {
            align-self: flex-end;
            margin-top: 15px;
        }
    }

    .subscription-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    /* #g-recaptcha {
        transform:scale(0.86);
        -webkit-transform:scale(0.86);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    } */

    #view-user-details-container {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        flex-direction: column;
    }

    #view-user-main { margin-top: 15px; }

    #view-user-main, #view-user-details {
        width: 100%;
        flex-grow: 0;
        margin-right: 0;
    }

    #view-user-header {
        align-items: center;
        flex-direction: column;

        #view-user-header-info {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    #view-user-social-media {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    #view-user-listing-info {
        flex-direction: column;
    }
    
    #view-user-profile-pic {
        width: 50%;
        margin-right: 0px;
    }

    #view-user-details { margin-bottom: 30px; }

    .submit-review-container {
        .submit-review { padding: 0; }
    }

    .user-review-container {
        flex-direction: column;
        margin: 0 auto 0 auto;
        width: 90%;
        margin-bottom: 30px;
        padding: 15px;
    }

    .user-review { width: 100%; }
    
    .user-review-profile-pic {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        margin-right: 0px;

        .profile-pic {
            width: 25%;
            margin-right: 15px;
        }
    }

    .user-review-header, .user-review-header-info {
        flex-direction: column;
        align-items: flex-end;
    }

    .user-review-badge, .user-review-rating { margin-right: 0; }

    .user-review-separator {
        margin: 0 auto 30px auto;
        width: 90%;
    }

    .user-review-buttons { align-self: flex-end; }

    .user-reviews-placeholder-column { display: none; }

    #user-reviews-wrapper {
        > .mt-3 { margin-top: 0 !important; }
    }

    #search-listings {
        position: absolute;
        z-index: 2;
    }

    #search-listings-field-container {
        max-height: calc(100vh - 98px);

        .d-flex-between-center, .d-flex-between-start { flex-direction: column; }

        .w-5, .w-10, .w-15, .w-25, .w-30, .w-45 {
            width: 100% !important;
            margin-bottom: 30px;
        }

        #search-listings-field-wrapper {
            max-height: calc(100vh - 98px);
            overflow-y: scroll;
        }
    }

    #listings { margin-top: 50px; }

    .listing-row-profile-pic { display: none; }

    .listing-row-title, .listing-row-detail-child {
        width: 100%;
        padding: 5px 10px;
    }

    .listing-row-main, {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .listing-row-title { order: 1; }
    .listing-row-purpose { order: 2; }
    .listing-row-rating { order: 3; }

    .listing-row-detail { flex-direction: column; }

    .listing-row-detail-child {
        border-right: 0;

        &:not(:first-child) { border-top: 1px solid $theme-highlight; }
    }

    .listing-row-buttons { display: none; }

    
    #notification-panel {
        position: absolute;
        top: auto;
        bottom: calc(100% + 10px);
        left: -20px;
        width: 75vw;
        transform: scaleY(0);
        transform-origin: bottom;
        box-shadow: none;

        &.show { transform: scaleY(1); }
    }
    .activity-timestamp {
        text-align: right;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    #g-recaptcha {
        transform:scale(0.86);
        -webkit-transform:scale(0.86);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
    #g-recaptcha {
        transform:scale(0.75);
        -webkit-transform:scale(0.75);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}
