@media only screen and (max-width: 414px) {
    /* #sidebar {
        position: fixed;
        width: 100%;
        min-height: 110px;
        height: 110px;
        bottom: 0;
        z-index: 99;

        #sidebar-username, #dashboard-profile-pic, hr, .sidebar-link-text, .sidebar-link-underline  { display: none; }

        #sidebar-links {
            display: flex;
            justify-content: space-around;
            margin-left: 0;
        }

        .sidebar-link-container { margin-top: 20px; }

        .sidebar-link-icon {
            font-size: 2rem;
            margin-right: 0;
        }

        .sidebar-link-item.active { border-right: 0; }
    } */

    #dashboard-main { width: 100%; }

    #dashboard-header {
        flex-direction: column-reverse;

        > div:last-child { margin: 0 0 20px auto; }

        #dashboard-header-wrapper {
            flex-direction: column;
        
            .profile-pic-wrapper {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    .dashboard-list-button { margin-right: 10px; }

    #dashboard-panel-container {
        flex-direction: column;
    
        .dashboard-panel-half { width: 100%; }

        #notifications-panel { order: 2; }
        #activities-panel { order: 3; }
        #upcoming-events-panel { order: 1; }
    }

    #dashboard-list-buttons-container {
        width: auto;
        
        #mobile-logout-button {
            display: block;
            margin-left: 10px;
        }
    }

    .titled-container {
        .titled-container-row-detail {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            > div:first-child { width: 100%; }
            > div:last-child { width: 100%; }
        }

        .title-wrapper {
            top: -18px;
            margin-left: 5px;

            .titled-container-icon { display: none; }
        }
    }

    #sidebar-links {position: relative; }
}