#navbar-container {
    width: 20%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-item {
    width: 15%;
    cursor: pointer;
}

.icon-counter {
    top: 100%;
}