.milestone-detail-container {
    display: flex;
    align-items: flex-start;
}

.milestone-detail-header {
    width: 20%;
    margin-right: 15px;
}

.milestone-condition-container {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 15px;
    border: 1px solid $theme-highlight;
}

.job-details-row {
    display: flex;
    align-items: center;
}

.condition-row-container {
    display: none;

    &.expand {
        display: block;
    }
}

.milestone-detail-condition-row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $theme-highlight;
}

.milestone-agreement-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}