.milestone-detail-container {
    display: flex;
    align-items: flex-start;
}

.milestone-detail-header {
    width: 20%;
    margin-right: 15px;
}

.milestone-condition-container {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid $theme-highlight;
}


.condition-row-container {
    display: none;

    &.expand {
        display: block;
    }
}

.milestone-detail-condition-row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $theme-highlight;
}