.radio-input-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
    .radio-input {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 150px;
        margin: 0 15px 0 15px;
        border: 1px solid $theme-medgrey;
        color: white;
        position: relative;
        cursor: pointer;
        
        &.selected {
            border: 0;
            background-color: $success;

            &.disabled {
                background-color: $theme-lightgrey;
                cursor: default;

                .radio-input-selected {
                    background-color: $theme-lightgrey;
                    color: black;
                }
            }
        }
    }
    
    .radio-input-selected {
        padding: 10px;
        border-radius: 50px;
        border-width: 3px;
        border-style: solid;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: $success;
        top: -15px;
        left: calc(50% - 15px);
    }
    
    &.radio-input-rows {
        flex-direction: column;
        width: 100%;
    
        .radio-input {
            min-height: auto;
            width: 100%;
            margin: 0 0 5px 0;
            padding: 10px;
        }

        .radio-input-selected {
            top: calc(50% - 15px);
            left: -15px;
        }
    }
}

.radio-container {
    display: flex;
    justify-content: space-around;

    label {
        display: block;
        margin-bottom: 15px;
        position: relative;
        height: 45px;
        display: flex;
        align-items: center;
    
        .radio {
            width: 30px;
            height: 30px;
            border: 5px solid $theme-lightgrey;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            cursor: pointer;
            position: relative;

            input[type=radio] {
                opacity: 0;
                position: absolute;
            }
    
            .radio-selected {
                width: 14px;
                height: 14px;
                background-color: $success;
                border-radius: 50%;
            }
        }
    
        &.active {
            .radio {
                border: 5px solid $success;
            }
    
            color: $success
        }
    }
}