#search-listings {
    background-color: $theme-blue;
}

#search-listings-field-container {
    padding: 20px 20px 0px 20px;
    max-height: 40vh;
    transition: max-height 0.15s ease-in-out;
    overflow: hidden;

    &.hide { max-height: 0; }
}

#search-listings-toggler {
    height: 43px;
    text-align: center;
    padding: 5px 0;
    
    svg { cursor: pointer; }
}

/* .input-group-text.seperator {
    border-radius: 0 !important;
}

.no-border-radius-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.no-border-radius-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
} */