#search-listings {
    width: 100%;
    position: relative;
}

#search-listings-field-container {
    background-color: $theme-blue;
    max-height: 75vh;
    transition: max-height 0.1s ease-in-out;
    overflow: hidden;
    border-bottom: 1px solid black;
    
    #search-listings-field-wrapper {
        height: 100%;
        padding: 20px; 
    }
    
    &.hide { max-height: 0; }
}

#search-listings-toggler {
    background-color: $theme-blue;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
}

.input-group {
    &.row {
        #price-operator { flex-grow: 1; }
        #search-price { flex-grow: 4; }
        #price-type { flex-grow: 4; }

        //#completed-jobs-ops { flex-grow: 1; }
        #completed-jobs { flex-grow: 1; }
    }
}

/* .input-group-text.seperator {
    border-radius: 0 !important;
}

.no-border-radius-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.no-border-radius-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
} */