#search {
    width: 100%;
    position: relative;
}

#search-field-container {
    background-color: $theme-blue;
    max-height: 75vh;
    transition: max-height 0.1s ease-in-out;
    overflow: hidden;
    border-bottom: 1px solid black;
    
    #search-field-wrapper {
        height: 100%;
        padding: 20px;

        .fg-1 {
            flex-grow: 1;
            margin-right: 30px;
        }

        #search-price, #completed-jobs {
            flex-grow: 1;
        }
    }
    
    &.hide { max-height: 0; }
}

#search-toggler {
    background-color: $theme-blue;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
}

/* .input-group-text.seperator {
    border-radius: 0 !important;
}

.no-border-radius-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.no-border-radius-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
} */