.listing-row {
    border: 1px solid black;
    background: $theme-lightgrey;
    color: black;
}

.listing-row-rating { padding: 10px; }
.listing-row-detail-child { padding: 5px 10px; }

.listing-row-detail { position: relative; }

.listing-row-buttons {
    position: absolute;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.listing-row-main, .listing-row-detail, .listing-row-title {
    display: flex;
    align-items: center;
}

.listing-row-main {
    border-bottom: 1px solid black;;

    &:hover {
        background-color: $theme-highlight;
        color: white;
    
        .listing-row-title {
            a {
                color: white;
                text-decoration: underline;
            }
        }
    }
}

.listing-row-profile-pic {
    border-right: 1px solid black;;
    width: 3%;
    order: 1;
}

.listing-row-purpose {
    margin-left: 10px;
    order: 2;
}

.listing-row-title {
    order: 3;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 10px;

    a { color: $theme-highlight; }
}

.listing-row-rating { order: 4; }

.listing-row-detail-child {
    font-size: 0.75rem;
    border-right: 1px solid black;;
}