.listing-row {
    border: 1px solid black;
    background: $theme-lightgrey;
    color: black;
    display: flex;
}

.listing-row-rating { padding: 5px; }

.listing-row-detail {
    position: relative;
    flex-wrap: wrap;
}

.listing-row-buttons {
    position: absolute;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.listing-row-main, .listing-row-detail, .listing-row-title {
    display: flex;
}

.listing-row-main {
    border-bottom: 1px solid black;
    flex-grow: 1;

    a {
        display: flex;
        align-items: center;
        width: 100%;
        color: $theme-highlight;
    }
    
    &:hover {
        background-color: $theme-highlight;
        color: white;

        a {
            text-decoration: none;
        }
    }
}

.listing-row-profile-pic {
    width: 5%;
    border-right: 1px solid black;;
}

.listing-row-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.listing-row-purpose {
    margin-left: 10px;
    order: 1;
    white-space: nowrap;
}

.listing-row-title {
    flex-grow: 1;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 5px 5px 5px 10px;
    order: 2;

    span {
        text-overflow: ellipsis;
        overflow-x: hidden;
    }

    a { color: $theme-highlight; }
}

.listing-row-rating {
    order: 3;
    white-space: nowrap;

    span { color: black; }
}

.listing-row-detail-child {
    font-size: 0.75rem;
    border-right: 1px solid black;
    padding: 4px 10px;
}