#listing-settings { margin-top: 50px; }

#list-settings {
    display: flex;
    width: 100%;
        
    #listing-title, #listing-price, #listing-location { width: 50%; }
    #listing-under, #listing-price-type, #listing-price-currency { width: 25%; }
}

.setting-panel-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}

.setting-field-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &.start {
        align-items: flex-start;
    }

    > .setting-field-container {
        flex-grow: 1;
        flex-basis: 100%;

        &.quarter { flex-basis: 25% }
        &.three-quarter { flex-basis: 75%; }
        &.one-third { flex-basis: 33%; }
        &.half { flex-basis: 50%; }
    }

    > .setting-field-container:not(:last-child) {
        margin-right: 15px;
    }

    > .input-container {
        flex-grow: 1;
        
        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &.center { align-items: center; }
}

.setting-child {
    flex-grow: 1;
    flex-basis: 100%;

    &.quarter { flex-basis: 25%; }
    &.three-quarter { flex-basis: 75%; }
    &.one-third { flex-basis: 33%; }
    &.half { flex-basis: 50%; }

    &:not(:last-child) {
        margin-right: 15px;
    }
}

.settings-col {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;

    .setting-col-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.start-time, .end-time {
    flex-grow: 1;

    input {
        text-align: center;
        width: 100%;
    }
}

.hour-container {
    margin: 0 auto 30px auto;
    //width: 50%;
}

.hour-separator {
    margin: 0 15px 0 15px;
    text-align: center;
}

.setting-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .list-setting-container {
        width: 60%;
    }

    .business-hours-setting-container {
        width: 35%;
    }
}

.payment-icons { text-align: right; }

.payment-icon { width: 100px; }

.payment-brand {
    margin-right: 30px;
    align-self: center;
}

.payment-method-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.payment-method-detail-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;   
}

.checkout-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.toggler-container {
    display: flex;
    position: relative;
}

.account-id {
    display: flex;
    align-items: center;
}

.financial-accounts {
    .financial-info-container { flex-grow: 1; }

    .financial-info-container, .financial-info {
        display: flex;
        justify-content: space-between;
    }

    .financial-info-container { align-items: center; }
    .financial-info { align-items: flex-start; }
}

.add-bank-mobile-button, .add-card-mobile-button { display: none !important; }