#list-settings {
    display: flex;
    flex-direction: column;
    width: 100%;
        
    #listing-price {
        width: 50%;
    }

    #listing-price-type, #listing-price-currency {
        width: 25%;
    }
}

.setting-panel-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}

.setting-field-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &.center { align-items: center; }
}

.setting-child {
    flex-grow: 1;
    flex-basis: 45%;
    padding: 0 30px;

    &.quarter { flex-basis: 25%; }
    &.three-quarter { flex-basis: 70%; }
    &.one-third { flex-basis: 30%; }
}

.settings-col {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;

    .setting-col-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.start-time, .end-time {
    flex-grow: 5;

    input { text-align: center }
}

.business-hour-container {
    margin: 0 auto 30px auto;
    //width: 50%;
}

.hour-separator {
    flex-grow: 1;
    text-align: center;
}

.payment-icons { text-align: right; }

.payment-icon { width: 15%; }
.payment-brand { margin-right: 30px; }

.checkout-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* .settings-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-address {
    white-space: pre-line;
} */