.verified-review-container {
    border-top: 1px solid black;
}

.submit-review-container {
    width: 100%;
    overflow: hidden;
    transition: max-height 0.05s ease-in-out;

    .submit-review {
        padding: 15px;

        .submit-review-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        .text-area-container {
            width: 100%;
        }
    }
}

.review-star {
    color: $theme-darkgrey;
    cursor: pointer;
    
    &:hover, &.active {
        color: $warning;
    }
}

.review-rating {
    display: flex;
}