#topbar {
    background: $theme-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

#topbar #logo a:hover {
    text-decoration: none;
}

.listing-indicator {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    
    &.listed {
        background-color: $success;
    }

    &.not-listed {
        background-color: $theme-medgrey;
    }
}