.settings-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-col {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
}

#user-address {
    white-space: pre-line;
}