.user-services-details {
    color: #000;
}

#add-service-container {
    position: relative;
}

.user-services-details {
    white-space: pre-line;
}

.service-form {
    background: $theme-fg;
    color: #000;
    padding: 20px;
}

#user-services a {
    color: #000;

    &:hover {
        text-decoration: underline;
    }
}