// Theme
$theme-blue: #2F496E;
$theme-bg: #C4C4C4;
$theme-lightgrey: #DFDFDF;
$theme-highlight: #2988BC;
$theme-alt-highlight: #7dd2ff;
$theme-fg: #F9F6F4;
$theme-special: #ED463D;
$theme-darkgrey: #6F6F6F;
$theme-lightblue-faded: rgba(121, 154, 199, 0.25);

$success: rgb(0, 255, 0);
$error: rgb(255, 0, 0);