#view-user-services {
    color: #000;

    h5 {
        color: #FFF;
    }

    a {
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}

.view-user-icon {
    color: $theme-special;
}