@import 'variables';
@import 'mixins';
@import './utils/colors';
@import './utils/widths';
@import './utils/flex';
@import './utils/margins-paddings';
@import './admin/Admin.scss';
@import 'App';
@import 'TitledContainer';
@import 'InputGroup';
@import 'InputWrapper';
@import 'TextArea';
@import 'Tooltip';

@import 'BottomBar';
@import 'Browse';
@import 'BrowseMenu';
@import 'Dashboard';
@import 'Footer';
@import 'FriendsList';
@import 'Jobs';
@import 'Login';
@import 'Main';
@import 'MessageDetails';
@import 'Conversation';
@import 'Messages';
@import 'RegisterForm';
@import 'Response';
@import 'SearchListing';
@import 'Sectors';
@import 'ServiceDetails';
@import 'SideBar';
@import 'StartJob';
@import 'SubmitReview';
@import 'TabBar';
@import 'UserDetails';
@import 'UserInfo';
@import 'Settings';
@import 'MyListingRow';
@import 'ViewUser';
@import 'ViewUserReview';

@import 'Alert';
@import 'Badge';
@import 'Confirmation';
@import 'Loading';
@import 'Menu';
@import 'Pagination';
@import 'RadioInput';
@import 'ReviewButtonTooltip';
@import 'StaticAlert';
@import 'SlideToggle';
@import 'Timeline';
@import 'TwoSidedCheckbox';
@import 'UserProfilePic';
@import 'Username';

@import 'mobile/1366px';
@import 'mobile/1024px';
@import 'mobile/768px';
@import 'mobile/414px';
@import 'mobile/375px';
@import 'mobile/360px';
@import 'mobile/320px';

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/fonts/Montserrat-Bold.ttf');
}

html { min-height: 100%; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: $theme-bg;
    color: $theme-fg;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
    line-height: 1.25;
    width: 100%;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: $theme-fg;
}

a:hover {
    color: $theme-fg;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Bold';
    margin: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.1rem; }

hr {
    background-color: $theme-highlight;
    border: 0;
    height: 1px !important;
    margin: 20px auto;
}

textarea {
    border: 0;
    background-color: white;

    &:disabled { background-color: $theme-lightgrey; }
}

button {
    &.btn {
        display: inline-block;
        border: 0;
        padding: 0.375rem 0.75rem;
        min-height: 34px;
        border-radius: 0;
        cursor: pointer;
    
        &.btn-sm {
            min-height: 26px;
            font-size: 0.8rem;
        }
    }

    &:not(:last-child) { margin-right: 5px; }
    &:hover { filter: brightness(90%); }
    &:disabled {
        filter: brightness(75%);
        color: $theme-lightgrey;
        cursor: default;
    }
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    padding: 5px 25px 5px 5px;
    background-image: url('/images/arrow_down.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto 75%;
}

input { padding: 5px; }

*, *::before, *::after { box-sizing: border-box; }

@media only screen and (max-width: 1024px) {
    body {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 414px) {
    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.4rem; }
    h3 { font-size: 1.3rem; }
    h4 { font-size: 1.2rem; }
    h5 { font-size: 1.1rem; }
    h6 { font-size: 1rem; }
}

@media only screen and (max-width: 320px) {
    body { font-size: 0.8rem; }
    
    h1 { font-size: 1.3rem; }
    h2 { font-size: 1.2rem; }
    h3 { font-size: 1.1rem; }
    h4 { font-size: 1rem; }
    h5 { font-size: 0.9rem; }
    h6 { font-size: 0.8rem; }
}