@import 'mixins';
@import 'variables';
@import './utils/widths';
@import './utils/flex';
@import './admin/Admin.scss';
@import 'Alert';
@import 'App';
@import 'Browse';
@import 'BrowseMenu';
@import 'Confirmation';
@import 'EditUser';
@import 'Footer';
@import 'Loading';
@import 'Main';
@import 'Menu';
@import 'MessageDetails';
@import 'Messages';
@import 'NavBar';
@import 'Pagination';
@import 'RegisterForm';
@import 'Response';
@import 'ReviewButtonTooltip';
@import 'SearchListing';
@import 'Sectors';
@import 'ServiceDetails';
@import 'SlideToggle';
@import 'TabBar';
@import 'TopBar';
@import 'UserDetails';
@import 'UserInfo';
@import 'UserProfilePic';
@import 'UserSettings';
@import 'ViewUser';
@import 'ViewUserReview';

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: $theme-bg;
    color: $theme-fg;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
}

a {
    font-weight: bold;
    color: $theme-fg;
}

a:hover {
    color: $theme-fg;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Bold';
}

hr {
    background: $theme-highlight;
}